# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode build output
build/
DerivedData/
*.xcarchive
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Xcode temporary files
*.moved-aside
*.hmap
timeline.xctimeline
playground.xcworkspace

# Firebase
GoogleService-Info.plist
firebase/functions/node_modules/
firebase/functions/lib/
firebase/hosting-public/
