<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.415791627092-d0otm8q4nfcdq32cvm8jkknh0s8vmh9j</string>
			</array>
		</dict>
	</array>
	<key>GitHubOAuthClientID</key>
	<string>$(GITHUB_OAUTH_CLIENT_ID)</string>
</dict>
</plist>
