[Desktop Entry]
Name=CAOCAP
Comment=CAOCAP Linux Hello World shell
Exec=caocap
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=com.ficruty.caocap
